<div class="jumbotron text-center">
  <h1>Welcome to Spaces</h1>
  <hr>
  <p>Find the perfect place to host your next meeting</p>
  <%= link_to "Become a member", new_member_registration_path, class: "btn btn-lg btn-primary" %>
  <div class="image-container">
    <%= image_tag("office-1.jpg", size: "300", class: "img-thumbnail") %>
    <%= image_tag("office-6.jpg", size: "300", class: "img-thumbnail") %>
    <%= image_tag("office-4.jpg", size: "300", class: "img-thumbnail") %>
  </div>
</div>
